@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
/* || Custom Color Set */
:root {
  --white: #ffffff;
  --black: #000000;
  --gray: #aaaaaa;
  --lightgray: #f7f7f9;
  --silver: #dddddd;
  --purple: #b10dc9;
  --maroon: #85144b;
  --red: #ff4136;
  --orange: #f77801;
  --yellow: #ffdc00;
  --lime: #01ff70;
  --green: #2ecc40;
  --olive: #3d9970;
  --teal: #39cccc;
  --aqua: #7fdbff;
  --blue: #057aff;
  --navy: #002c31;
  --comment: #555;
}

/* || Custom CSS */
html {
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

#home {
  height: 100vh;
  padding-top: 10%;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--navy);
}

.no-underline {
  text-decoration: none !important;
}

ul {
  text-align: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.purple {
  color: #4339b2;
}

#brand-logo {
  float: left;
  z-index: 2;
}

li a,
.about-links a,
.go-down {
  display: inline-block;
  padding: 20px;
  color: var(--black);
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

.about-links {
  text-align: center;
}

.section {
  width: 100%;
  display: block;
}

.title {
  font-size: 0.8em;
  font-weight: 700;
  color: #b3b3b3;
  letter-spacing: 1.5px;
  margin-top: 25px;
}

#about {
  margin-bottom: 10%;
}

#projects {
  margin-bottom: 10%;
}

.skills, .years, .experience {
  margin-bottom: 5%;
}

.ludwig {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: 100;
  color: var(--black) 40%;
}

.go-down {
  text-align: center;
}

.comment {
  color: var(--black);
  opacity: 0.35;
}

.i4things {
  color: var(--blue);
  padding: 2px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.i4things:hover {
  background-color: var(--blue);
  color: var(--white);
}

.a3bc {
  color: var(--orange);
  padding: 2px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.a3bc:hover {
  background-color: var(--orange);
  color: var(--white);
}

.country-code {
  color: var(--black);
}

.icon {
  height: 32px;
  width: 32px;
}

.collapsible:after {
  font-family: "Font Awesome 5 Free";
  content: "\f067";
}

.active:after {
  font-family: "Font Awesome 5 Free";
  content: "\f068";
}

.collapsible-content {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

/* || Custom animations */
.grow-small {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.grow-small:hover {
  -webkit-transform: scale(1.25);
  transform: scale(1.25);
}

.grow-medium {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.grow-medium:hover {
  -webkit-transform: scale(1.6);
  transform: scale(1.6);
}

.grow-large {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.grow-large:hover {
  -webkit-transform: scale(2);
  transform: scale(2);
}

.tab {
  background-color: var(--lightgray);
}

/* || Projects Grid */
.card-body {
  margin-top: 2%;
  background-color: #F2F2F2;
  border-radius: 15px;
}

.card-img-top {
  height: 300px;
  width: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  border-radius: 12px;
}

.card-title {
  width: 100%;
}

.card-arrow {
  float: right;
}

/* || Mobile Navbar Icon Animation */
#nav-icon {
  width: 60px;
  height: 37.5px;
  position: relative;
  margin: 10px auto;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: var(--navy);
  border-radius: 9px;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 0px;
}

#nav-icon span:nth-child(2),
#nav-icon span:nth-child(3) {
  top: 18px;
}

#nav-icon span:nth-child(4) {
  top: 36px;
}

#nav-icon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.navbar-toggler {
  border: none !important;
}

/* Phone */
@media screen and (max-width: 600px) {
  body {
    padding: 0 0;
  }
  #brand-logo {
    visibility: hidden;
  }
}
/*# sourceMappingURL=style.css.map */