@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* || Custom Color Set */

:root {
    --white: #ffffff;
    --black: #000000;
    --gray: #AAAAAA;
    --silver: #DDDDDD;
    --purple: #B10DC9;
    --maroon: #85144B;
    --red: #FF4136;
    --orange: #f77801;
    --yellow: #FFDC00;
    --lime: #01FF70;
    --green: #2ECC40;
    --olive: #3D9970;
    --teal: #39CCCC;
    --aqua: #7FDBFF;
    --blue: #057AFF;
    --navy: #002C31;
    --comment: #555;
}

/* || Custom CSS */

html {
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

body {
    padding: 2.5vw 10vw;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--navy);
}

.no-underline {
    text-decoration: none !important;
}

ul {
    text-align: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
.navigation li {
    float: right;    
}

nav {
    width: 100%;
}

#brand-logo {
    float: left;
    z-index: 2;
}
  
li a {
    display: block;
    padding: 20px;
    color: var(--black);
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

.section {
    width: 100%;
    display: block;
}

.sticky {
    position: fixed;
    top: 2.5vw;
    left: 2.5vw;
}

.title {
    text-align: left;
    margin-top: 50px;
    color: var(--navy);
}

.about-links li {
    float: left;
}

.comment {
    color: var(--black);
    opacity: 0.5;
}

.i4things {
    color: var(--blue);
    padding: 2px;
    transition: 0.4s ease;
}

.i4things:hover {
    background-color: var(--blue);
    color: var(--white);
}

.a3bc {
    color: var(--orange);
    padding: 2px;
    transition: 0.4s ease;
}

.a3bc:hover {
    background-color: var(--orange);
    color: var(--white);
}

.country-code {
    color: var(--black);
}

.icon {
    height: 32px;
    width: 32px;
}

.content {
    padding-left: 2.5vw;
}

/* || Custom animations */

.grow-small {
    transition: transform .3s;
}

.grow-small:hover {
    -ms-transform: scale(1.25); /* IE 9 */
    -webkit-transform: scale(1.25); /* Safari 3-8 */
    transform: scale(1.25); 
}

/* || Projects Grid */

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px;
    max-width: 960px;
    margin: 0 auto 30px;
}

article {
    position: relative;
}

.article-img {
    height: 200px;
    width: 100%;
    object-fit: scale-down;
    border-radius: 12px; 
}

.article-title {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    /* background-color: #60000000; */
}

/* || Years Timeline */

.main-timeline {
    font-family: 'Poppins', sans-serif;
    padding: 50 0 0;
    position: relative;
}

.main-timeline:before {
    content: '';
    /* background-color: var(--white); */
    height: 100%;
    width: 60%;
    transform: translateX(-50%);
    position: absolute;
    /* left: 50%; */
    top: 10px;
}

.main-timeline .timeline {
    margin: -42px 0 0 0;
    position: relative;
    z-index: 1;
}

.main-timeline .timeline:before {
    content: '';
    /* border: 20px solid #FF9B00; */
    height: 90%;
    /* width: 50%; */
    border-radius: 100px;
    position: absolute;
    left: 12%;
    top: 22px;
    z-index: -1;
}

.main-timeline .timeline-content {
    /* background-color: var(--white); */
    text-align: center;
    width: 60%;
    padding: 10px 15px 60px;
    margin: 0 auto;
    display: block;
}

.main-timeline .timeline-content:hover { 
    text-decoration: none; 
}

.main-timeline .timeline-year {
    color: #FF9B00;
    font-size: 30px;
    font-weight: 600;
    margin: 0 0 10px;
}

.main-timeline .title {
    color: #333;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

.main-timeline .title:after {
    content: '';
    background-color: #FF9B00;
    height: 3px;
    width: 60px;
    margin: 12px auto;
    display: block;
}

.main-timeline .description {
    color: #333;
    font-size: 14px;
    letter-spacing: 1px;
}

.main-timeline .timeline:nth-child(even):before {
    left: auto;
    right: 12%;
}

.main-timeline .timeline:nth-child(4n+2):before { border-color: #FF503B; }
.main-timeline .timeline:nth-child(4n+2) .timeline-year { color: #FF503B; }
.main-timeline .timeline:nth-child(4n+2) .title:after { background-color: #FF503B; }
.main-timeline .timeline:nth-child(4n+3):before { border-color: #009CE6; }
.main-timeline .timeline:nth-child(4n+3) .timeline-year { color: #009CE6; }
.main-timeline .timeline:nth-child(4n+3) .title:after { background-color: #009CE6; }
.main-timeline .timeline:nth-child(4n+4):before { border-color: #B160BD; }
.main-timeline .timeline:nth-child(4n+4) .timeline-year { color: #B160BD; }
.main-timeline .timeline:nth-child(4n+4) .title:after { background-color: #B160BD; }

@media only screen and (max-width:990px) {
    .main-timeline .timeline:before {
        left: 5%;
        border-radius: 120px;
    }
    .main-timeline .timeline:nth-child(even):before { right: 5%; }
}

@media only screen and (max-width:576px) {
    .main-timeline:before { width: 85%; }
    .main-timeline .timeline { margin: -38px 0 0 0; }
    .main-timeline .timeline:before {
        border-width: 8px;
        border-radius: 0;
        left: 0;
    }
    .main-timeline .timeline:nth-child(even):before { right: 0; }
    .main-timeline .timeline-content { width: 85%; }
    .main-timeline .title { font-size: 18px; }
}

/* Mobile Navbar Icon Animation */

#nav-icon {
    width: 60px;
    height: 37.5px;
    position: relative;
    margin: 10px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: var(--navy);
    border-radius: 9px;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon span:nth-child(1) {
    top: 0px;
}

#nav-icon span:nth-child(2),#nav-icon span:nth-child(3) {
    top: 18px;
}

#nav-icon span:nth-child(4) {
    top: 36px;
}

#nav-icon.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#nav-icon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.navbar-toggler {
    border: none !important;
}


/* Phone */
@media screen and (max-width: 600px) {
    body {
        padding: 0 0;
    }

    #brand-logo {
        visibility: hidden;
    }
}